:root {
    --primary-bg: #C7B89B;
    --secondary-bg: #E8DAC8;
    --text-color: #5B4B3A;
    --button-bg: #B79981;
    --button-hover: #8D7B68;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: var(--primary-bg);
    color: var(--text-color);
}

.container {
    background: var(--secondary-bg);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 320px;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #F1DEC9;
    color: var(--text-color);
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: var(--button-bg);
    color: #FFF;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background: var(--button-hover);
}

p {
    margin-top: 15px;
}

a {
    color: var(--text-color);
    text-decoration: underline;
}
